body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10vmin;
  justify-items: center;
  align-items: center;
  max-width: 2160px;
  margin: 5vmin;
  transform-origin: top center;
}
