.progress-bar {
  position: relative;
  border-radius: 8px;
  width: 60px;
  height: 20px;
  background-color: #eee;
}

.progress-bar::before {
  content: '';
  position: relative;
  display: block;
  border-radius: 8px;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(0deg, #ff7a3b, #ffc107);
  box-shadow: 0 1px 2px #ff7a3ba3;
  filter: drop-shadow(2px 0 1px #00000033);
  transition: all 0.2s ease;
}

.progress-bar::after {
  content: '50%';
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -3px;
  margin-right: 2px;
  font-size: 6px;
  font-weight: 500;
  line-height: 6px;
  color: #54390f;
  transition: all 0.2s ease;
}

.progress-bar:hover::before {
  width: 100%;
}

.progress-bar:hover::after {
  content: '100%';
  right: 0;
}
